// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  grid-column: span 2;
  padding: 30px;
  text-align: center;
  font-size: 0.8em;
  background-color: #690;
  color: white;
}
