// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  grid-area: header;
  background: bisque;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
