// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import "src/styles/abstracts/variables";

body {
  overflow-x: hidden;
  overflow-y: auto;
}
a {
  color: $brand-accent;
  text-decoration: none;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

main {
  flex: 1;
  padding: 20px;
}

ul {
  list-style-type: none;
}




